[nz-form] {
    max-width: 600px;
  }
  .abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .number-input .ant-input {
    width: 150px;
    margin: 0 8px 8px 0;
  }


  i[nz-icon] {
    font-size: 28px;
    color: #999;
  }
  .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }