<div class="container">
    <div nz-row style="margin-top: 120px; margin-bottom: 40px">
        <div nz-col nzSpan="13" nzOffset="7">
            <h1 class="form-signin-heading text-white">Cambie su contraseña:</h1>
        </div>   
      </div>
  <!-- <div class="abs-center"> -->
    <div nz-row nzType="flex" nzJustify="center" nzAlign="midle" >
        <form nz-form [nzLayout]="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <!-- <nz-form-item>
                        <nz-form-control >
                          <input nz-input formControlName="email" id="email" placeholder="email"/>
                          <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">
                            Dirección de correo no válida.
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item> -->
                      <nz-form-item>
                          <nz-form-control >
                            <input
                              nz-input
                              type="password"
                              id="oldPassword"
                              formControlName="oldPassword"
                              (ngModelChange)="updateConfirmValidator()"
                              placeholder="oldPassword"
                            />
                            <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors"
                              >Inserte su contaseña</nz-form-explain
                            >
                          </nz-form-control>
                        </nz-form-item>
                      <nz-form-item>
                        <nz-form-control >
                          <input
                            nz-input
                            type="password"
                            id="newPassword"
                            formControlName="newPassword"
                            (ngModelChange)="updateConfirmValidator()"
                            placeholder="new password"
                          />
                          <nz-form-explain *ngIf="validateForm.get('newPassword')?.dirty && validateForm.get('newPassword')?.errors"
                            >Inserte su contranseña</nz-form-explain
                          >
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-control>
                          <input nz-input type="password" formControlName="confirmPassword" id="confirmPassword" placeholder="confirm password"/>
                          <nz-form-explain
                            *ngIf="validateForm.get('confirmPassword')?.dirty && validateForm.get('confirmPassword')?.errors"
                          >
                            <ng-container *ngIf="validateForm.get('confirmPassword')?.hasError('required')">
                              Confirme su contranseña.
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('confirmPassword')?.hasError('confirm')">
                              Contraseñas inconsistentes.
                            </ng-container>
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                <nz-form-item nz-row style="margin-bottom:8px;">
                    <nz-form-control>
                      <button nz-button nzType="primary" class="login-form-button">Confirmar</button>
                    </nz-form-control>
                  </nz-form-item>      
            </form>        
    <!-- </div> -->
  </div>
</div>
