<div class="row">
    <div class="col-12 home-title">
        <ul class=" nav justify-content-end">
               
            <!-- <app-photo-upload></app-photo-upload> -->
            <li class="nav-item">
                <a  routerLink="/login" class="nav-link text-white"  >Login</a>
            </li>
            <li class="nav-item">
              <a  routerLink="/register-employee" class="nav-link text-white"  >Register</a>
          </li>
            <li class="nav-item">
                <a class="nav-link text-white"  >Contacto</a>
            </li>
            <li class="nav-item">
              <a class=" nav-link text-white"  >Nosotros</a>
            </li>
          </ul>
        <div class="row">
            <h1 class="offset-1 col-5 page-title oel" style="font-size: 8rem;font-weight: 900;">SE MI NUE VOS </h1>
            <div class="col-6 text-right">
                <p style="position: absolute;bottom: 0;right: 0; padding-right: 50px;">
                    La manera más rápida y eficiente de comprar y
                    <br> vender un auto seminuevo.
                </p>
            </div>
        </div>
    </div>
  
    <div class="col-12 home-buy-sell">
        <div class="row">
            <div class="col-6 d-block mx-auto text-center">
                    <img style="height: 300px;" src="assets/img/comprar@3x.png" alt="" class="img-fluid oel">
                    <p class="text-white oel">
                        Regístrate busca los autos de tu interés
                        <br> y manda propuesta económica de todos
                        <br> los autos que desees, si el dueño está
                        <br> interesado se pondrá en contacto contigo
                        <br> ¡así de simple!
                    </p>
                    <img style="height: 100px;" src="assets/img/comprar_ico@3x.png" alt="" class="img-fluid oel">
                    <br>
                    <br>
                    <div class="oel">
                        <a routerLink="/user/distributor" class="sellbuy-title ">IR A COMPRAR</a>
                    </div>
            </div>
            <div class="col-6 d-block mx-auto text-center">
                    <img style="height: 300px;" src="assets/img/vender@3x.png" alt="" class="img-fluid oel">
                    <p class="text-white oel">
                        Regístrate, indica las características de tu auto,
                        <br> sube las 5 mejores fotos que tengas para mostrarlo
                        <br> y publícalo, en poco tiempo comenzarán a llegar
                        <br> las ofertas
                        <br> ¡así de simple!
                    </p>
                    <img style="height: 100px;" src="assets/img/vender_ico@3x.png" alt="" class="img-fluid oel">
                    <br>
                    <br>
                    <div class="oel">
                        <a routerLink="/user/employee" class="sellbuy-title ">IR A VENDER</a>
                    </div>
            </div>
        </div>
    </div>
  
    <div #lucas class="col-12 contacts">
        <div class="row">
            <div class="offset-1 col-5">
                <h1 class="page-title oel" style="font-size: 8rem;font-weight: 900;">CON TAC TO</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis sit voluptatem, quidem vero minima, repellat a id harum
                    odit iure sequi delectus optio deserunt consequatur fuga, eius magnam sed doloribus.
                </p>
            </div>
            <div class="col-5">
                <form action="">
                    <div class="form-group">
                        <input type="text" placeholder="Nombre" class="form-control custom-control">
                    </div>
  
                    <div class="form-group">
                        <input type="email" placeholder="Correo" class="form-control custom-control">
                    </div>
  
                    <div class="form-group">
                        <input type="text" placeholder="Télefono" class="form-control custom-control">
                    </div>
  
                    <div class="form-group">
                        <textarea placeholder="Mensaje" type="text" class="md-textarea custom-control"></textarea>
                    </div>
  
                    <h2 class="pull-right">ENVIAR</h2>
                </form>
            </div>
        </div>
    </div>
  </div>