<div class="container">
  <div class="abs-center">
    <div nz-row nzType="flex" nzJustify="center" nzAlign="midle" >
        <form nz-form [nzLayout]="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-control >
                          <input nz-input formControlName="email" id="email" placeholder="email"/>
                          <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">
                            Dirección de correo no válida.
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-control >
                          <input
                            nz-input
                            type="password"
                            id="password"
                            formControlName="password"
                            (ngModelChange)="updateConfirmValidator()"
                            placeholder="password"
                          />
                          <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors"
                            >Por favor, inserte su contraseña.</nz-form-explain
                          >
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-control>
                          <input nz-input type="password" formControlName="confirmPassword" id="confirmPassword" placeholder="confirm password"/>
                          <nz-form-explain
                            *ngIf="validateForm.get('confirmPassword')?.dirty && validateForm.get('confirmPassword')?.errors"
                          >
                            <ng-container *ngIf="validateForm.get('confirmPassword')?.hasError('required')">
                              Por favor, confirme su contraseña.
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('confirmPassword')?.hasError('confirm')">
                              Contraseñas inconsistentes.
                            </ng-container>
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                <nz-form-item nz-row style="margin-bottom:8px;">
                    <nz-form-control>
                      <button nz-button nzType="primary" class="login-form-button">Registrar</button>
                    </nz-form-control>
                  </nz-form-item>      
            </form>        
    </div>
  </div>
</div>
