.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
   
  .form {
    width: 300px;
  }

  .login-form-forgot {
    float: right;
  }
  
  .login-form-button {
    width: 100%;
  }