<div class="container">
  <div class="abs-center">
      <div nz-row>
          <h2 class="form-signin-heading text-white">Por favor inserte su dirección de correo.</h2>
      </div>
    <div nz-row>
        <form class="p-3 form" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-control >
                <nz-input-group [nzPrefix]="mail" nzSize="large">
                  <input formControlName="email" nz-input type="email" placeholder="email">
                </nz-input-group>
                <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">Dirección de correo no válida</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row style="margin-bottom:8px;">
              <nz-form-control>
                <button nz-button nzType="primary" class="login-form-button">Enviar codigo de recuperación</button>
              </nz-form-control>
          </nz-form-item>   
         </form>
         <ng-template #mail><i nz-icon type="mail" theme="outline"></i></ng-template> 
         <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
    </div>   
  </div>
</div>
<!-- <app-photo-upload></app-photo-upload> -->